
.treeChange .el-tree{
  height:100%;overflow:auto;
  margin-bottom:20px;
}
.head-img {
    width: 30px;
    height: 30px;
    margin-top: 6px;
}
.changeAccountWeb{
	padding:40px 0 4%;
	height:100%;
    margin: 0 auto;
    background-size:100%;
}
.changeAccountWeb h4{
	    margin: -10px auto 20px;width: 200px;text-align: center;color: #FFF;
}
.treeContent{
	height:100%;
	width:1000px;
	margin:0 auto;
	padding:20px;
	border:solid 2px #ccc;
	background:#eee;
	box-shadow: -10px 10px 10px #000
}