.cardBack{
  width: 180px;height: 78px;background-color: rgba(30, 36, 55, 0.17);border-radius:5px;
  margin-bottom: 10px;
}
.cardBorder{
  border-bottom: dashed 1px gray; height: 50px
}
.shopImgBorder{
  float: left;margin:10px;height: 30px
}
.shopImg{
  width: 30px;height: 30px; border-radius:50%
}
.footFont{
  font-size:10px;color:gray;margin-left:10px;line-height: 28px;float: left;
}