.spans{
  width: 60px;
  float: left;
  padding: 2px;
  text-align: right;
}
.inputs{
  width: 220px;
  float: left;
  padding: 2px;
}

.dialog-footer{
  text-align: right;
}
.icon{
  width: 14px;
  height: 14px;
  fill: #fff;
}
.edit{
  background-color: #F4A75B;
}