.cl-show{
  height:110px;list-style-type: none;
  border:solid 1px #e2e2e2;position:relative;
}
.dataCard{padding-top:20px;margin-bottom:20px;clear: both;}
.cardList{margin:0;padding:0;}
.cl-show span{
  position:absolute;left:-1px;right:-1px;bottom:0;height:30px;line-height:30px;text-align: center;color:#FFF;
}
.cl-show label{
  font-size:30px;display:block;height:80px;line-height:80px;font-weight: normal;
}
.cl-show label:before{
  content:"";display:inline-block;width:30px;height:30px;background-image:url(../../../assets/i_fans.png);
  background-repeat: no-repeat;margin-bottom:-4px;margin-right:8px;
}

.chartRoom{
  border:solid 1px #c6cad6;margin-bottom:20px;background:#FFF;
}
.chartRoom h5{
  background-color:#eef1f6;text-align: left;margin:0;color:#333;height:40px;line-height:40px;padding-left:15px;font-weight: normal;font-size:14px;margin-bottom:5px;
}
.chartShow{
  height:450px;padding-bottom:10px;
}
.selection-part{
  float: left;
  z-index: 9999999;
  position: absolute;
  left: 20px;
  top: 110px;
}