.filter-container{
  float: right;
  button{
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
  }
}
.dialog-footer{
  text-align: right;
}

.user-filter-container{
  float: right;
  margin:5px 0 10px;
  padding-bottom: 0;
}